<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Source-Order Shift - Table Cell</title>
<link rel="stylesheet" href="../../../common/css/clearfix.css">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="pattern">
	<div class="t">
		<div class="main" role="main">
			<h2>Main Content (first in source order)</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et eros ac neque pharetra tristique nec vel risus. Maecenas nec augue elit, vitae tincidunt lorem. Vivamus porta ultrices convallis. In tempor varius pulvinar. Etiam mattis nunc id risus suscipit non tincidunt nisi mattis. Nunc in lobortis risus. Phasellus et ante vitae tellus commodo pellentesque. Etiam vitae nisl tellus. Integer diam nulla, commodo eu mattis nec, ullamcorper sit amet arcu. Curabitur pellentesque commodo enim et imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec a sapien nunc.
			</p>
		</div>
		<nav class="nav" role="navigation">
			<h4>Navigation (second in source order)</h4>
			<ol>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ol>
		</nav>
	</div>
</div>
<script src="../../../common/js/jquery-1.8.2.min.js"></script>
<script src="script.js"></script>
</body>
</html>