*{
	box-sizing: border-box;
}
.grid_area{
	.grid{
		max-width: 76em;
		margin: 0 auto;
		overflow: hidden;
		padding: 0.5em 0 0 0.5em;
		li {
			padding: 0 0.5em 0.5em 0;
			list-style-type: none;
			 > div {
				background: #808080;
				padding: 7em 2em;
				text-align: center;
			}
			a{
				color: #fff;
			}
		}
	}

	@media all and (min-width: 27em) {
		.grid{
			li{
				width: 50%;
				float: left;
			}
		}
	}

	@media all and (min-width: 40em) {
		.grid{
			li{
				width: 33.3333333%;
				&.wide{
					width: 66.666666%;	
				}
			}
		}
	}

	@media all and (min-width: 60em) {
		.grid{
		 	li {
				width: 25%;
				&.wide{
					width: 50%;
				}
			}
		}
	}
}
