.list_with_thumbnails{
	.list{
		.item{
			border-bottom: 1px solid #ccc;
			display: table;
			border-collapse: collapse;
			width: 100%;
			padding: 10px 0;
			.item-image{
				display: table-cell;
				vertical-align: middle;
				width: 80%;
				padding-right: 16px;
				margin: 0 auto;
				.thumbnail{
					display: block;
					width: 100%;
				}
			}
			.item-text{
				vertical-align: middle;
				width: 100%;
				display: table-cell;
				text-align: center;
			}
		}
	}

	@media all and (min-width: 640px) {
		.list{
		    padding: 8px;
		    margin: 0 auto;
		    overflow: hidden;
	  		.item{
	  			width: 50%;
		    	float: left;
		    	display: block;
			    .item-image{
			    	display: block;
			    	.item-image{
			    		width: 80%;
			    	}
			    }
			    .item-text{
			    	display: block;
			    }
	  		}
	  	}
	}

	@media all and (min-width: 960px) {
		.list{
			max-width: 1120px;
	  		.item{
		    	width: 33.33333%;
		    	float: left;
	  		}
	  	}
	}
}