.list_with_thumbnails{
	.list{
		.item{
			background: #eee;
			border-bottom: 1px solid #ccc;
			display: table;
			border-collapse: collapse;
			.item-image{
				display: table-cell;
				vertical-align: middle;
				width: 30%;
				padding-right: 1em;
				.thumbnail{
					display: block;
					width: 100%;
				}
			}
			.item-text{
				display: table-cell;
				vertical-align: middle;
				width: 70%;
			}
		}
	}
}

@media all and (min-width: 45em) {
	.list{
  		.item{
	    	float: left;
	    	width: 50%;
  		}
  	}
}

@media all and (min-width: 75em) {
	.list{
  		.item{
	    	width: 33.33333%;
  		}
  	}
}